.canvas {
    margin: auto;
    border: solid black 1px;
    height: 75vh;
    width: 75vw;
    position: relative;
    z-index: 100;
    background: #f7f7f7;
    padding: 10px;
    .outer {
        display: flex;
        justify-content: space-between;
    }

    .inner-left {
        border: solid black 1px;
        width: 300px;
    }
    .inner-right {
        display: flex;
        justify-content: space-between;
        width: 100px;
        border: solid black 1px;

    }
}